
<div class="container  mb-5">
  <h1 class="text-center">conatct section </h1>
  <div class="d-flex justify-content-center text-center mb-5">
    <app-star [color]="'dark'" class="w-25 d-block"></app-star>
  </div>



  <div class="form-content w-50 mx-auto">
    <label for="userName" class=" position-relative  top-0"  [class.__top]="!userName"  >User Name</label>
    <input type="text" id="userName" placeholder="userName" [(ngModel)]="userName" name="userName" class=" position-relative form-control border-bottom-3 border-dark">



    <label for="userAge" class=" position-relative  top-0"  [class.__top]="!userAge">User Age</label>
    <input type="number" id="userAge" [(ngModel)]="userAge" name="userAge"  class="position-relative form-control border-bottom-3 border-dark">
    <label for="userEmail" class=" position-relative  top-0"  [class.__top]="!userEmail">User Email</label>
    <input type="email" id="userEmail" [(ngModel)]="userEmail" name="userEmail"  class="position-relative form-control border-bottom-3 border-dark">
    <label for="userPassword" class=" position-relative  top-0"  [class.__top]="!userPassword">User Password</label>
    <input type="password" id="userPassword" [(ngModel)]="userPassword" name="userPassword"  class=" position-relative form-control border-bottom-3 border-dark mb-5">


    <button class="btn btn-success">Send Message</button>
  </div>


  </div>
